@model IEnumerable<web_project.Models.Auction>

@{
    ViewData["Title"] = "Index";
}

<h2>Auctions List</h2>

<div class="flex-fill">
    <form asp-action="SearchBar" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input class="form-control mr-sm-2" type="search" name="SearchString" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form asp-action="CategorySort" class="form-horizontal">
        <select class="form-control" name="CategorySelection">
            <option value="">Select a category</option>
            <option value="0">Electronics</option>
            <option value="1">Fashion</option>
            <option value="2">Home</option>
            <option value="3">Sports</option>
            <option value="4">Books</option>
            <option value="5">Other</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sort</button>
    </form>
<form asp-action="ConditionSort" class="form-horizontal">
        <select class="form-control" name="ConditionSelection">
            <option value="">Select a condition</option>
            <option value="0">New</option>
            <option value="1">Used</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sort</button>
</form>
<form asp-action="PriceSort" class="form-horizontal">
        <select class="form-control" name="PriceSelection">
            <option value="">Select a price</option>
            <option value="0">Low to High</option>
            <option value="1">High to Low</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sort</button>
</form>
</div>

<table class="table justify-content-center">
    <thead>
        <tr>
            <th>Name:</th>
            <th>Description:</th>
            <th>Image:</th>
            <th>Starting Price:</th>
            <th>Start Date:</th>
            <th>End Date:</th>
            <th>Category:</th>
            <th>Condition:</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="img-thumbnail container-sm" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
        </tr>
}
    </tbody>
</table>
